*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  background-image: url('https://images.pexels.com/photos/15773445/pexels-photo-15773445/free-photo-of-person-playing-with-dog.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 600px;
  margin: 5 px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

label span {
  margin-bottom: 4px;
}

input[type="text"],
input[type="password"] {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 16px;
}

button[type="submit"] {
  padding: 8px 16px;
  background-color: #a4ccf3;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #89b5db;
}
