*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url('https://images.pexels.com/photos/15773445/pexels-photo-15773445/free-photo-of-person-playing-with-dog.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-repeat: no-repeat;
  background-size: cover;
}

.background {
  width: 1430px;
  height: 1020px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
  font-size: 16px;
  font-family: Arial, sans-serif;
}



